<div class=" row">
  <div class=" col-md-12">
    <div class=" card">
      <div class=" card-header">
        <h4 class=" card-title">Cars</h4>
      </div>
      <div class=" card-body">
        <div class="table-responsive">
          <table class=" table tablesorter">
            <thead class=" text-light">
              <tr>
                <th>ID</th>
                <th>Brand</th>
                <th>Model</th>
                <th>Color</th>
                <th>Model Year</th>
                <th>City</th>
                <th>Location</th>
                <th>Decription</th>
                <th class=" text-center">Daily Price</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let vehicle of availableVehicles">
                <td>{{vehicle.id}}</td>
                <td>{{vehicle.brand.name}}</td>
                <td>{{vehicle.name}}</td>
                <td>{{vehicle.color.name}}</td>
                <td>{{vehicle.modelYear}}</td>
                <td>{{vehicle.location.city.name}}</td>
                <td>{{vehicle.location.name}}</td>
                <td>{{vehicle.description}}</td>
                <td class=" text-center">${{vehicle.dailyPrice}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>